@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");



 *{
   margin:0;
  padding:0;
  box-sizing: border-box;
    font-family: "poppies", sans-serif;
text-transform: capitalize;
  border-radius: .5rem;
  text-decoration: none;
}
:root{
  --green:#889b7d;
  --white: #fff;
  --light-white:#aaa;
  --black:#3d3d3d;
 --light-bg:#494950;
  --creem :#ae7d57;
  --brown: #59504c;
  --box-shadow:0rem 0rem 1rem .1rem #ddd;
}

.dark{
  --main-bg: #333;
  --main-color:#fff;
}

selection{
  background: var(--white);
  color:var(--black);
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top:8rem;
}
::-webkit-scrollbar{
  height: 5rem;
  width: 1rem;
  
}
::-webkit-scrollbar-track{
  background:transparent;
}
::-webkit-slider-thumb{
  background: var(--creem);
  border-radius: 5rem;
}

.btu{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 2.5rem;
  padding:  1.5rem;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.btu:hover {
  color: crimson;
  background: none;
}

.sub-heading{
  font-size: 3rem;
  color:var(--light-bg);
}
body{
  background: var(--white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  color :#000;
  position: relative;
  top:0;
  margin-top: 0;
  transition: 0.5s;
  
}

.heading{
   width:100%;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;


}

section{
  /* max-width:120rem; */
  width: 100%;
  margin: 2rem 0rem 0rem 0rem;
  margin-bottom: 2rem;
  padding: 1rem;

  
}
.header .flex{
  position: relative;
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;

}
.header{
  margin-top: 0;
position: flex;
top:0;
left:0;
border-top-left-radius:0;
right: 0;
background: var(--white);
color: var(--light-bg);
z-index: 1000;
position:fixed;

}
.header .flex .navbar{
    font-size: 2.5rem;
    color:var(--black); 
}
.header .flex .logo{
  font-weight: 600;
  font-size: 3rem;
  color:var(--light-white);
}

.header .flex .logo span{
  color:var(--brown);
}

.header .flex .navbar a{
  margin-left:2rem;
  color:var(--light-white);
  font-size: 1.3rem;
  transition: 0.5s color;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: capitalize;
  
}
.header .flex .navbar .menu{
  display: none;}

  .header .flex .navbar a.active{
  color:var(--brown);
}

.header .flex .navbar a:hover{
  color:var(--brown);
}

 .header .flex  .mood{
  display: flex;
  flex-direction: row;
  gap:2rem;
  margin-right: 2rem;
}

.mood ion-icon{
  font-size: 3rem;
  font-weight: 600;
  color: #111;
}

#menu-btu{
  display:none;
  cursor:pointer;
  font-size: 5rem;
  color:var(--light-white);
}

/*------------home page title css------*/

  .homes{
    margin: 2.5rem 0rem 2.5rem 0rem;
padding-top:6rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home{
      margin-right: 0;
display: grid;
grid-template-columns: 0.2fr 1fr 1fr;
  width:100%;
  gap:2rem;
}

.home .cantener{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}




.home .links {
  font-size: 3rem;
  color:#eee;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}



.home .links a{
  font-size: 3rem;
  color:#333;
  height: 6rem;
transition: 0.5s;
  width:6rem;
  border-radius: 50%;
}


.home .links a:hover{
      box-shadow: 0rem 0rem 1rem .1rem #ddd;

}

.home .images {
  top:0;
  right: 0;
  display: flex;
  flex: 1 1 40rem;
  width:100%;
  

}

.home .images img{
  width:100%;
}


.home .cantener span{
  color:var(--creem);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home .cantener h4{
  margin-top:1.5rem;
  font-size: 3.5rem;
  font-weight: 200;
  color:var(--creem);
}


.home .cantener h1{
    font-size: 5rem;
    font-weight: 800;
    color:var(--brown);
   
}

.home .cantener h1 span{
      font-size: 5rem;
    font-weight: 800;
    color:var(--green);
  margin-bottom: 3.5rem;

}

.home .cantener p{
  font-size: 2rem;
  font-weight: 600;
  color:var(--brown);
}

.home .cantener a{
  width:30rem;
  /* background: var(--green);
  border: none; */
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #aaa;
}

/*  */

/* explore page css */
.explor {
  /* flex-wrap: wrap; */
  display: flex;
  width: 100%;
  flex-direction: row;
  
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.explor .box{
  text-align: center;
  display: flex;
  padding: 3rem;
  flex:1 1 20rem;
  justify-content: center;
  align-items: center;
  background: #eee;
  
}
.explor .box h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--brown);
}
.explor .swiper {
flex:1 1 80rem;
width: 100%;
height: 100%;
}

.explor  .swiper{
  width: 100%;
}


.explor  .swiper .swiper-wrapper{
    width: 100%;
gap: 1rem;
}
.explor .swiper .swiper-wrapper .swiper-slide{
  width: 100%;

}


.explor  .swiper .swiper-wrapper .swiper-slide img{
border-radius: 30%;
position: relative;
border:none;
height:10rem;
width: 100%;
margin-top:0;

}



.logo {
  display: inline-block;
}

/* exploare page and css */
/*-----------about page css------------*/
.about{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.about .row{
  display :flex;
  align-items: center;
  gap:1.5rem;
  flex-wrap: wrap;
}
.about .row .img{
  flex:1 1 40rem;
}
.about .row .img img{
  width: 100%;
  height: 100%;
}
.about  .row .cap{
  flex:1 1 40rem;
  text-align: center;
}
.about  .row  .cap h3{
  font-size: 3rem;
  color:var(--brown);
  font-weight: 600;
}
.about  .row  .cap h3 span{
  color:var(--green);
}

.about .row .cap p{
  padding:1rem 0;
  line-height: 2;
  font-size: 2rem;
font-weight: 700;
  color:var(--light-bg);
}


/* mywork page css */
#mywork{
  padding:2rem 2.5rem  2rem 2.5rem;
  margin:auto;
}


.heading{
  margin: 2.5rem 0rem 2.5rem 0rem;
  font-size:4rem;
  font-weight: 600;
  color:var(--light-white);
}
#service{
  display: grid;
  margin: 2.5rem 0rem 2.5rem 0rem;
  grid-gap: 2rem;
  /* grid-template-columns: repeat(auto-fit ,minmax(40rem, 1fr)); */
  grid-template-columns: repeat(3,1fr);
  
}


.service-list {
  align-items: center;
  justify-content: center;
  background:var(--white);
  padding:3rem;
  box-shadow: 0rem 0rem 1rem .1rem #dddeee;
  border-radius: 1rem;
  transition:background 0.5s,transform 0.5s;
    overflow: hidden;
      font-size: 1rem;
      text-align: center;
      flex-direction: column;
display: flex;
    
}
.service-list h2{
  text-align: center;
  font-size:3rem;
  font-weight: 700;
  color: var(--brown);
}
.service-list  p{
  text-align: center;
  color:var(--light-bg);
  font-weight: 600;
    font-size:1.8rem;

  
}
.service-list ion-icon{
  font-size:4rem;
 position: relative;
 top:1.5rem;
 margin-bottom: 2rem;
 left:0%;
  color:var(--light-bg);
}
.service-list h1{
  font-size: 50rem;
  color:#fff;
}
.service-list  a  ion-icon{
  color:var(--brown);
  text-align: left;
  font-size: 3rem;
  
}
.service-list:hover{
  transform: scale(1.05);
  box-shadow: 0rem 0rem 1rem .2rem #ddd;
}
/* mywork page css end */

/*------project sections page css-----*/
.projects{
  display: flex;
  flex-direction: column;
  width:100%;
  margin:auto;
  padding:0rem 2.5rem  0rem 2.5rem;
}

.projects span{
  font-size: 1.5rem;
  width: 100%;
  color: #333;
}
.project-main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
}
.project-main .project-box{
  width:100%;
  background: #fff;
  display: flex;
    box-shadow: 0rem 0rem 1rem .1rem #ccc;
gap: 3rem;
padding: 1rem;
transition: 0.5s;
  flex-direction: column;
}

.project-main .project-box:hover{
transform: scale(1.02);
}
  .project-main .project-box .img{
    display:flex;
    flex:0 0 60rem;
  }

.project-main .project-box .img img{
  width:100%;
}
.project-main .project-box .text-box{
  align-items: center;
  text-align: center;
  gap: 1rem;
  display: flex;
  flex:0 0 30rem;
  flex-direction: column;
}




.project-main .project-box .text-box span{
  color: var(--light-bg);
  font-weight: 600;
}


.project-main .project-box .text-box p{
  color:#777;
  font-weight: 600;
  font-size: 1.5rem;
}
/*--project sections page css end-----*/
       /* ----contect as page css --------- */
#contect{
  display: flex;
  flex-direction: column;
  width: 100%;
}

       .contact{
        margin-top: 0;
        display: flex;
       padding: 2rem; 
        flex-direction: row;
        gap:1rem;
      }
      .contact .map{
        display: flex; 
        flex:0 0  40rem;
      }
      
      .contact  .map {
        width: 100%;
        flex:1 1 50rem;
        position: relative;
        /* margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0; */
      }
      
      .contact .map  iframe{
          
          width: 100%;
      
      }
      
      /* .contact  .row .contact-no{
position: absolute;
bottom: 2rem;
left: 2rem;
      } */
      
      .contact form{
        flex:1 1 40rem;
      }
      
      .contact form .box{
        width:100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: .5rem;
      background-color:#EEE;
      font-size:1.8rem;
      color:var(--light-bg);
      padding: 1.4rem;
      outline: none;
      border: none;
      }
      
      
      
      
      
      .contact  form span{
        font-size:1.6rem;
        color:var(--brown);
        font-weight: 600;
      }

      .contact form .radio{
        padding: 2rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: row;
        gap:2rem;
color: #aaa;
        font-size: 1.8rem;
        
      }
      
      .contact form .btu-box{
        margin-top: 1rem;
        gap: 1rem;
      }
      
      .contact form .btu-box .btu{
        margin: 0;
        margin-right: 2rem;
        margin-bottom: 1rem;
      }
   /* ----contect as page css --------- *
/* ---footer page css---------- */
.footer .share{
  margin-top:1rem;
   background: #eee;
   padding-top: 1rem;
   text-align: center;
   padding-bottom: 1rem;
    padding: 1.5rem;
   
}
.footer .share a{
 width: 4.5rem;
 height: 4.5rem;
 line-height: 4.5rem;
 color:var(--black);
 border-radius: 50%;
 font-size: 4rem;


}
.footer .share h4{
 color:var(--black);
}

.footer .share h4 span{
color:var(--creem);}

 /* ---footer page css end---------- */

/*--------media quarey ---------------*/
@media only screen and (max-width:990px) {
 
 html{
    font-size: 58%;
  }
   
}

@media only screen and (max-width:768px){
   html{
    font-size: 55%;
  }

    #menu-btu{
     display: inline-block;
    }
    /* section {
      padding: 2rem;
      margin-bottom: 0rem;
    }
   */
.header .flex .navbar a{
  display:block;
  margin: 2rem;
}
  

.navbar{
  display:block;
  z-index: 1;
}

.navbar{
  width: 100%;
  height: 100vh;
  background:var(--white);
  top:0;
  transition: 0.5s;
  text-align: center;
  right: 100%;
  position: fixed;
  padding-top:5rem;
  
}

.navbar a{
  display: inline-block;
padding-top: 2rem;
 font-size: 3rem;
}
.navbar ion-icon{
  position: absolute;
  top:2rem;
  left:2.5rem;
  cursor: pointer;
  display: block;
}


 

#service{
  grid-template-columns: repeat(2,1fr);
}


.count .box-canter {
  margin-bottom: 2rem;
 margin-top:2rem; 

}
.contact {
  display: flex;                     
  flex-direction: column;
}

}
@media (max-width:600px) {
  html{
    font-size: 45%;
  }
  
  #menu-btu{
    display: inline-block;
  }
  
  
  .explor{
    width: 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
    
.homes{
  display: flex;
  width: 100%;
}
.home{
  display: flex;
  flex-direction: columns;
  width:100%;
}

.home .cantener{
  top:0;
} 


.home {
  margin-right: 0;

  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}

.home .links{
position: absolute;
top:20rem;
left: 2rem;
}  

  

.home .links a{
  top:10rem;
}
.explor  .swiper .swiper-wrapper .swiper-slide img{
  height: 25rem;
}
.project-main{
  grid-template-columns: repeat(1,1fr);
}

}
